<!DOCTYPE html>
<html ng-app="chatApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Simple Chat</title>

    <!-- <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/chat.css') }}" rel="stylesheet">

    <script src="{{ static_url('js/angular.min.js') }}"></script>
    <script src="{{ static_url('js/chat.js') }}"></script>
  </head>
  <body>
    <div class="container" ng-controller="MessageListCtrl">
      <header id="title">
        <h1>Simple Chat Room</h1>
      </header>
      <section id="user-list">
        <h4 class="title">Online Users</h4>
        <ul>
          <li ng-repeat="user in users track by $index" ng-bind="user"></li>
        </ul>
      </section>
      <!-- inbox begin -->
      <section id="inbox">
        <!-- inbox list begin -->
        <ul id="inbox-list">
          <li class="inbox-body" ng-repeat="message in messages track by $index">
            <div class="sidebar">
              <div class="avatar">
                <img alt="" src="{{ static_url('avatar.png') }}"/>
              </div>
              <div class="username">
                <strong ng-bind="message.username"></strong>
              </div>
            </div>
            <div class="main">
              <!-- message header begin -->
              <header>
                <small class="pull-right text-muted"><i class="fa fa-clock-o fa-fw"></i><span ng-bind="message.time | timeHandler"></span></small>
              </header>
              <!-- message header end -->
              <!-- message content begin -->
              <section class="inbox-msg">
                <p ng-bind="message.message"></p>
              </section>
              <!-- message content end -->
            </div>
          </li>
        </ul>
        <!-- inbox list end -->
      </section>
      <!-- inbox end -->
      <!-- sender begin -->
      <section id="sender">
        <form id="compose-form" ng-submit="sendMessage()">
          <div id="compose-msg">
            <textarea id="compose-msg-input" name="" placeholder="Type your message here..."></textarea>
          </div>
          <button id="compose-btn" type="submit">Send</button>
        </form>
      </section>
      <!-- sender end -->
    </div>
  </body>
</html>
